**/.terraform/
**/.terraform.lock.hcl
**/*.tfstate
**/*.tfstate.backup
**/*.tfvars
**/*.auto.tfvars
**/*.tfplan
*.log
.DS_Store
.idea/
.vscode/
dashboard/.kubeconfig
dashboard/.kubeconfig-byoc
dashboard/.venv/
dashboard/.credentials.json
